<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <%- include('../includes/style.ejs', { styles, }) %>
    <%- include('../includes/script.ejs', { scripts, }) %>
</head>
<body class="flex h-screen flex-col scroll-smooth">
    <%- include('../includes/header') %>
    <%- body %>
    <%- include('../includes/footer') %>
</body>
</html>
