<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('../includes/style.ejs', { styles, }) %>
    <%- include('../includes/script.ejs', { scripts, }) %>
</head>
<body class="flex h-screen flex-col scroll-smooth font-roboto bg-slate-100 text-slate-800 dark:bg-gray-800 dark:text-slate-100">
    <%- include('../includes/header') %>
    <%- body %>
    <%- include('../includes/footer') %>
</body>
</html>
